{% extends 'base.html.twig' %}

{% block title %}Edit Backend{% endblock %}

{% block body %}
    <h1>Edit Backend</h1>

    {{ include('backend/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backend_index') }}">back to list</a>

    {{ include('backend/_delete_form.html.twig') }}
{% endblock %}
