{% extends 'base.html.twig' %}

{% block title %}New Backend{% endblock %}

{% block body %}
    <h1>Create new Backend</h1>

    {{ include('backend/_form.html.twig') }}

    <a href="{{ path('app_backend_index') }}">back to list</a>
{% endblock %}
